---
page_title: "Cloudera Data Platform (CDP) Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .ProviderShortName | upper }} Provider

{{ .Description | trimspace }}

The provider needs to be configured with the proper credentials before it can be used (see Authentication section below).

## Example Usage
{{ tffile "examples/provider/provider.tf" }}

## Authentication

The CDP provider offers a flexible means of providing credentials for
authentication. The following methods are supported, in this order, and
explained below:

- Static credentials
- Environment variables
- Shared credentials file

Additional details about these methods are available in the Cloudera documentation for
[Generating an API access key](https://docs.cloudera.com/cdp-public-cloud/cloud/cli/topics/mc-cli-generating-an-api-access-key.html)
and [Configuring CDP client](https://docs.cloudera.com/cdp-public-cloud/cloud/cli/topics/mc-configuring-cdp-client-with-the-api-access-key.html).

### Static credentials

!> **Warning:** Hard-coding credentials into any Terraform configuration is not
recommended, and risks secret leakage should this file ever be committed to a
public version control system.

Static credentials can be provided by adding an `cdp_access_key_id` and
`cdp_private_key` in-line in the CDP provider block:

Usage:
{{ tffile "examples/provider/provider_with_access_key.tf" }}


### Environment variables

You can provide your credentials via the `CDP_ACCESS_KEY_ID` and
`CDP_PRIVATE_KEY`, environment variables, representing your CDP
access key and CDP private key, respectively.  Note that setting your
CDP credentials using either these environment variables will override
the use of `CDP_PROFILE`.

```terraform
provider "cdp" {}
```

Usage:

```sh
$ export CDP_ACCESS_KEY_ID="an-access-key"
$ export CDP_PRIVATE_KEY="a-private-key"
$ terraform plan
```

### Shared Credentials file

You can use a CDP credentials file to specify your credentials. The
default location is `$HOME/.cdp/credentials` on Linux and OS X, or
`"%USERPROFILE%\.cdp\credentials"` for Windows users. If we fail to
detect credentials inline, or in the environment, Terraform will check
this location. You can optionally specify a different location in the
configuration by providing the `cdp_shared_credentials_file` attribute, or
in the environment with the `CDP_SHARED_CREDENTIALS_FILE` variable.
This method also supports a `cdp_profile` configuration and matching
`CDP_PROFILE` environment variable:

The easiest way to set the credentials in the shared file is to use the CDP CLI following
[this guide](https://docs.cloudera.com/cdp-public-cloud/cloud/cli/topics/mc-configuring-cdp-client-with-the-api-access-key.html).
The CDP CLI and the CDP Terraform provider are sharing the same config and credentials files.

Usage:

{{ tffile "examples/provider/provider_with_profile.tf" }}

## Configuration
You can use a CDP configuration file to specify other CDP related configuration.
The default location is `$HOME/.cdp/config` on Linux and OS X, or
`"%USERPROFILE%\.cdp\config"` for Windows users. You can optionally specify a
different location in the configuration by providing the `cdp_config_file`
attribute, or in the environment with the `CDP_CONFIG_FILE` variable. This method
also supports a `cdp_profile` configuration and matching `CDP_PROFILE` environment
variable to read configuration under different profiles:

```bash
$ cat $HOME/.cdp/config
[default]
endpoint_url = https://%sapi.us-west-1.altus.cloudera.com/
cdp_endpoint_url = https://api.us-west-1.cdp.cloudera.com/

[profile customprofile]
endpoint_url = ...
cdp_endpoint_url = ...
```

You can also override the config and credentials file locations that CDP provider. Usage:

{{ tffile "examples/provider/provider_with_custom_config_file.tf" }}

## Setting the CDP Region
Every CDP Account belongs to only one CDP Control Plane region, which is a geographic region boundary for your accounts
metadata. [CDP Control Plane Regions](https://docs.cloudera.com/cdp-public-cloud/cloud/cp-regions/topics/cdp-control-plane-regions.html)
details existing control plane regions.

You can set the CDP control plane region for your account in a couple of different ways. You can set it in your
provider configuration by providing the `cdp_region` attribute:
{{ tffile "examples/provider/provider_with_region.tf" }}

An alternative way would be to set `cdp_region` in your CDP config file (`~/.cdp/config`):
```
[default]
cdp_region = eu-1
```
Or under a profile:
```
[profile customprofile]
cdp_region = eu-1
```

{{ .SchemaMarkdown | trimspace }}