page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: "datahub"
description: |-
{{- with .Description }}
{{ . | plainmarkdown | trimspace | prefixlines "  " }}
{{- end }}
---

# {{ .Name }} ({{ .Type }})

{{- with .Description }}
{{ . | trimspace }}
{{- end }}

## Example Usage

{{ tffile "examples/data-sources/cdp_datahub_list/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}