---
page_title: "cdp_df_services Data Source - terraform-provider-cdp"
subcategory: "DataFlow"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# cdp_df_services (Data Source)

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name) }}

{{ .SchemaMarkdown | trimspace }}
