---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "iam"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/cdp_iam_group/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}